<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todo.app.service.mapper.TaskMapper">
    <insert id="addTask" parameterType="com.todo.app.service.model.Task">
        INSERT INTO PUBLIC.TASK
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">TITLE,</if>
            <if test="description != null">DESCRIPTION,</if>
            <if test="status != null">STATUS,</if>
            <if test="createdAt != null">CREATED_AT,</if>
            <if test="createdBy != null">CREATED_BY,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="status != null">UPPER(#{status}),</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="createdBy != null">#{createdBy},</if>
        </trim>
    </insert>

    <select id="findTask" resultType="com.todo.app.service.model.Task">
        SELECT * FROM PUBLIC.TASK WHERE ID = #{id}
    </select>

    <update id="updateStatusTask">
        UPDATE PUBLIC.TASK SET STATUS = 'DONE', UPDATED_AT = #{timeNow} WHERE ID = #{id}
    </update>

    <update id="updateTask" parameterType="com.todo.app.service.model.dto.TaskDTO">
        UPDATE PUBLIC.TASK SET
        <trim suffixOverrides=",">
            <if test="task.title != null">TITLE = #{task.title},</if>
            <if test="task.description != null">DESCRIPTION = #{task.description},</if>
            <if test="task.status != null">STATUS = #{task.status},</if>
            <if test="timeNow != null">UPDATED_AT = #{timeNow},</if>
        </trim>
        WHERE ID = #{id}
    </update>

    <select id="findAllTask" resultType="com.todo.app.service.model.Task">
        SELECT
            *
        FROM
            PUBLIC.TASK
        <where>
            <if test="title != null and title !=''">
                TITLE ILIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="description != null and description !=''">
                DESCRIPTION ILIKE CONCAT('%', #{description}, '%')
            </if>
            <if test="status != null and status !=''">
                STATUS = UPPER(#{status})
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="orderBy == 'title'">TITLE</when>
            <when test="orderBy == 'description'">DESCRIPTION</when>
            <when test="orderBy == 'status'">STATUS</when>
            <otherwise>CREATED_AT</otherwise>
        </choose>
        <choose>
            <when test="sortOrder.equalsIgnoreCase('DESC')">DESC</when>
            <otherwise>ASC</otherwise>
        </choose>
        <if test="page != 0 and pageSize != 0">
            OFFSET ((#{page} - 1) * #{pageSize}) ROWS FETCH NEXT #{pageSize} ROWS ONLY
        </if>
    </select>

    <select id="countAllTask" resultType="int">
        SELECT
            COUNT(*)
        FROM
            PUBLIC.TASK
        <where>
            <if test="title != null and title !=''">
                TITLE ILIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="description != null and description !=''">
                DESCRIPTION ILIKE CONCAT('%', #{description}, '%')
            </if>
            <if test="status != null and status !=''">
                STATUS = UPPER(#{status})
            </if>
        </where>
    </select>

    <delete id="deleteTask">
        DELETE FROM PUBLIC.TASK WHERE ID = #{id}
    </delete>
</mapper>